<div>
  <ion-input [(ngModel)]="email" [placeholder]="constants.Username" class="common-input username-input"></ion-input>
  <ion-input [(ngModel)]="password" [placeholder]="constants.Password" class="common-input pass-input" type="password"></ion-input>
</div>

<div class="login-div">
  <button class="login-button" (click)="buttonClick.emit({email: email, password: password})">
    {{constants.login}}
  </button>
</div>

