<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col class="main-title">{{constants.title}}</ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<img *ngIf="loading" src="../../assets/loader.svg" class="loader"/>
<ion-content>
  <div class="segment-location">
    <segment [leftVal]="constants.login" [rightVal]="constants.signup" (leftClicked)="loginClicked()"
             (rightClicked)="signupClicked()"></segment>
  </div>

  <div class="login-boxes" *ngIf="login">
    <page-login (buttonClick)="attemptLogin($event)"></page-login>
  </div>

  <div class="login-boxes" *ngIf="!login">
    <page-sign-up (buttonClick)="attempSignup($event)"></page-sign-up>
  </div>
</ion-content>
