<ion-list no-lines no-border>
  <ion-item-divider class="title-divider">{{constants.usersTitle}}</ion-item-divider>
  <ion-item-sliding *ngFor="let user of users" class="item-container" no-lines no-border >
    <ion-item class="description-item" no-border no-lines>
      <ion-row>
        <ion-col col-8 class="description-col">
          {{user.email}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button (click)="editEntry(user)">Edit</button>
      <button ion-button color="danger" (click)="deleteEntry(user)">Delete</button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
