<ion-header>
  <ion-navbar>
    <ion-title>{{constants.newUserHeader}}</ion-title>
  </ion-navbar>
</ion-header>
<img *ngIf="loading" src="../../../assets/loader.svg" class="loader"/>
<ion-grid class="main-grid">
  <ion-row>
    <ion-col class="desc-col">
      <ion-label stacked class="desc-title">{{constants.email}}</ion-label>
      <ion-input type="text" [(ngModel)]="email" class="desc-input"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="desc-col">
      <ion-label stacked class="desc-title">{{constants.tempPassword}}</ion-label>
      <ion-input type="password" [(ngModel)]="tempPass" class="desc-input"></ion-input>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col class="submit-task-col">
      <button class="submit-task-btn" (click)="submit()">
        {{constants.submit}}
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
