<ion-header>
  <ion-navbar>
    <ion-title>{{constants.newTaskHeader}}</ion-title>
  </ion-navbar>
</ion-header>
<img *ngIf="loading" src="../../../assets/loader.svg" class="loader"/>
<ion-grid class="main-grid">
  <ion-row>
    <ion-col class="desc-col">
      <ion-label stacked class="desc-title">{{constants.descriptionTitle}}</ion-label>
      <ion-input type="text" [(ngModel)]="newTask.description" class="desc-input"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="desc-col">
      <ion-label stacked class="desc-title">{{constants.hoursTitle}}</ion-label>
      <ion-input type="number" [(ngModel)]="newTask.hours" class="desc-input"></ion-input>
    </ion-col>
    <ion-col>
      <ion-label stacked class="desc-title">{{constants.startTimeTitle}}</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="newTask.dateString" [placeholder]="constants.startTimePlace" class="desc-input"></ion-datetime>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="submit-task-col">
      <button class="submit-task-btn" (click)="submit()">
        {{constants.submit}}
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
