page-settings-popover {
  .logout-btn {
    background-color: transparent;
    font-size: 18px;
    height: 30px;
    padding-left: 20px;
    z-index: 10000;
  }

  .loader {
    width: 40px;
    height: 40px;
  }
}
