
<button class="logout-btn" (click)="exportAs()" style="margin-bottom: 10px" *ngIf="allowHtml">
  {{constants.exportAs}}
</button>
<button class="logout-btn" (click)="logout()">
  {{constants.signout}}
</button>
<img *ngIf="loading" src="../../../assets/loader.svg" class="loader"/>
