<ion-grid>
  <ion-row class="segment-row">
    <ion-col (click)="this.clickedLeft()" [ngClass]="leftValOn ? 'segment-clicked' : 'segment-off'">
      {{leftVal}}
    </ion-col>
    <ion-col (click)="this.clickedRight()"
             [ngClass]="!leftValOn ? 'segment-clicked' : 'segment-off'">
      {{rightVal}}
    </ion-col>
  </ion-row>
</ion-grid>
