segment {
  .segment-row {
    border: 1px solid white;
    display: flex;
  }

  .segment-off {
    text-align: center;
    align-self: center;
    color: white;
  }

  .segment-clicked {
    padding: 10px;
    text-align: center;
    align-self: center;
    color: #3D3F4A;
    background-color: white;
  }
}
