<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-2>
        <img src="../../assets/cog.svg" class="cog-position" (click)="openSettings($event)">
      </ion-col>
      <ion-col class="main-title">{{constants.title}}</ion-col>
      <ion-col col-2 class="dots-position">
        <img *ngIf="myRole === Roles.USER" src="../../assets/dots.svg" (click)="openPreferences($event)">
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="myRole === Roles.USER">
    <page-task-manager></page-task-manager>
  </div>

  <div *ngIf="myRole === Roles.MANAGER">
  <page-user-manager></page-user-manager>
  </div>
  <div *ngIf="myRole === Roles.ADMIN">
    <page-admin-manager></page-admin-manager>
  </div>
</ion-content>

<ion-fab bottom right class="ion-fab-pos">
  <ion-icon ion-fab ios="ios-add" md="md-add" style="font-size: 34px"
            (click)="myRole === Roles.MANAGER || myRole === Roles.ADMIN ? addUser() : createNewTask()"></ion-icon>
</ion-fab>
