
<ion-header class="preferred-hours-title">
    {{constants.preferredHoursTitle}}
</ion-header>
<ion-grid class="main-grid">
  <ion-row>
    <ion-col>
      <ion-datetime (ionChange)="valuesChanged();" displayFormat="HH:mm" [(ngModel)]="dateStringFrom" class="desc-input"></ion-datetime>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      TO
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-datetime [min]="dateStringFrom" (ionChange)="valuesChanged();" displayFormat="HH:mm" [(ngModel)]="dateStringTo" class="desc-input"></ion-datetime>
    </ion-col>
  </ion-row>
</ion-grid>
