page-preferences-popover {
  .preferred-hours-title {
    text-align: center;
    height: 30px;
    padding: 15px;
    text-decoration: underline;
  }

  .desc-input {
    width: 100%;
    height: 40px;
    background-color: #f7f7f7;
    border: thin solid #2a2a30;
    border-radius: 4px;
    text-align: center;
    padding-right: 20px;
  }

  .main-grid {
    padding: 30px;
    margin-top: 30px;
  }
}
