<div>
  <ion-input [(ngModel)]="email" [placeholder]="constants.Username" class="common-input username-input"></ion-input>
  <ion-input [(ngModel)]="password" [placeholder]="constants.Password" class="common-input pass-input" type="password"></ion-input>
  <ion-input [(ngModel)]="repassword" [placeholder]="constants.RePassword" class="common-input pass-input" type="password"></ion-input>
  <ion-input [(ngModel)]="admin" [placeholder]="constants.admin" class="common-input pass-input" type="password"></ion-input>
</div>

<div class="login-div">
  <button class="login-button" (click)="clickedSignUp()">
    {{constants.signup}}
  </button>
</div>

