page-sign-up {
  .username-input {
    color: white;
    border-bottom: 1px solid white;
  }

  .pass-input {
    color: white;
    border-bottom: 1px solid white;
    margin-top: 30px;
  }

  .username-input::placeholder {
    color: white;
  }

  .pass-input::placeholder {
    color: white;
  }

  .login-button {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 18px;
  }

  .login-button:active {
    background-color: white;
    color: black;
  }

  .login-div {
    text-align: center;
    margin-top: 100px;
  }
}
