// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


html, body, .content {
  background-color: #34353C;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 200px;
  height: 200px;
  z-index: 10000;
  margin: auto;
}

.main-title {
  text-align: center;
  font-size: 20px;
  color: #354052;
}

.toolbar {
  height: 60px;
  display: flex;
}

.header {
  background-color: white !important;
}

.settings-popover .popover-content {
  background-color: white;
  height: 90px;
  display: flex;
  justify-content: center;
}

.preferences-popover .popover-content {
  background-color: white;
  height: 170px;
  display: flex;
  justify-content: center;
}

.new-task-popover .popover-content {
  height: 300px;
  width: 300px;
}

.dots-position {
  text-align: right;
  padding-right: 20px;
}

.ion-fab-pos {
  bottom: 30px;
  right: 30px;
}

.description-item {
  color: white;
  background-color: #48BD59;
  border: none;
}

.description-work-hours {
  color: white;
  background-color: #FF517B;
  border: none;
}

.description-item {
}

.item-container {
  margin-top: 10px;
}

.description-col {
  display: flex;
  align-items: center;
  white-space: normal;
}

.title-divider {
  background-color: transparent;
  color: white;
  height: 20px;
}

.hours-time-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
