page-pending {
  .pending-status {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: -100px;
    color: white;
  }
}
