<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-2>
        <img src="../../assets/cog.svg" class="cog-position" (click)="openSettings($event)">
      </ion-col>
      <ion-col class="main-title">{{constants.title}}</ion-col>
      <ion-col col-2 class="dots-position">
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="pending-status">
    {{constants.pendingStatus}}
  </div>

</ion-content>
