<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-2 (click)="dismiss()">
        <span class="exit-btn">x</span>
      </ion-col>
      <ion-col class="main-title">{{user.email}}</ion-col>
      <ion-col col-2 class="dots-position">
        <img src="../../assets/cog.svg" class="cog-position" (click)="openSettings($event)">
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<img *ngIf="loading" src="../../assets/loader.svg" class="loader"/>
<ion-content>
  <ion-list no-lines no-border *ngFor="let group of myGroupedTasks">
    <ion-item-divider class="title-divider">{{group.titledDate}}</ion-item-divider>
    <ion-item-sliding *ngFor="let task of group.tasks" class="item-container" no-lines no-border >
      <ion-item [ngClass]="isInWorkHours(task) ? 'description-work-hours' : 'description-item'" no-border no-lines>
        <ion-row>
          <ion-col col-8 class="description-col">
            {{task.description}}
          </ion-col>
          <ion-col col-4 text-center class="hours-time-col">
            <div style="padding-bottom: 10px;"> {{task.hours}}h</div>
            <div> {{task.time}}</div>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="editEntry(task)">Edit</button>
        <button ion-button color="danger" (click)="deleteEntry(task)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
<ion-fab bottom right class="ion-fab-pos">
  <ion-icon ion-fab ios="ios-add" md="md-add" style="font-size: 34px"
            (click)="createNewTask()"></ion-icon>
</ion-fab>
