page-edit-task-popover {
  .main-grid {
    margin-top: 60px;
  }

  .desc-input {
    width: 100%;
    height: 40px;
    background-color: #f7f7f7;
    border: thin solid #2a2a30;
    border-radius: 4px;
  }

  .submit-task-btn {
    height: 40px;
    margin-top: 10px;
    width: 200px;
    border-radius: 4px;
    background-color: #3a75eb;
    color: white;
    font-size: 18px;
  }

  .submit-task-col {
    text-align: center;
  }

  .submit-task-btn:active {
    background-color: #2a2a30;
    color: white;
  }
}
